@using TransportationTax.Services.Contracts
@using TransportationTax.DomainClasses.Entities
@inherits OwningComponentBase<IManagmentService>
<div class="card">
    <EditForm Model="congestionTax" OnValidSubmit="EditcongestionTaxAsync">
        <div class="form-group">
            <label for="FromTime">From Time</label>
            <RadzenDatePicker @bind-Value="congestionTax.FromTime" class="form-control" ShowTime="true" TimeOnly="true" DateFormat="HH:mm" />

        </div>
        <div class="form-group">
            <label for="ToTime">To Time</label>

            <RadzenDatePicker @bind-Value="congestionTax.ToTime" class="form-control" ShowTime="true" TimeOnly="true" DateFormat="HH:mm" />

        </div>
        <div class="form-group">
            <label for="Amount">Tax Amount</label>
            <InputNumber @bind-Value="congestionTax.TaxAmount" class="form-control" placeholder="Tax Amount" />
        </div>

        <button type="submit" class="btn btn-success"><i class="fa fa-edit" />&nbsp;Update</button>
    </EditForm>


</div>


@code {
    [Parameter]
    public CongestionTax congestionTax { get; set; }

    private IManagmentService managmentService => Service;

    public async Task EditcongestionTaxAsync()
    {
        await managmentService.UpdateCongestionTaxAsync(congestionTax);
        await OncongestionTaxEdited.InvokeAsync(congestionTax);


    }

    [Parameter]
    public EventCallback<CongestionTax> OncongestionTaxEdited { get; set; }

    
}
